@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: #F5F5F1;
  --color-hover: #E6E2D3;
  --color-text: #1A1A1A;
  --color-secondary-text: #8C8C8C;

  --font-inter : 'Inter', 'Roboto', system-ui;

  --text-section-heading : clamp(2rem,3vw,3rem);
}

@layer components {
  .btn-style {
    @apply border-2 border-text font-bold rounded-full px-2 py-0.5 md:px-4 md:py-1 
           hover:bg-hover hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] active:scale-95 transition-all duration-500 ease-out
           cursor-pointer overflow-hidden
  }
}

* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

html, body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-inter);
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}